body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
}

header, footer {
    background-color: #343a40;
    color: #f8f9fa;
}

.nav-pills .nav-link {
    color: #495057;
}

.nav-pills .nav-link.active, .nav-pills .nav-link.active:focus, .nav-pills .nav-link.active:hover {
    font-weight: bold;
    color: #f8f9fa;
    background-color: #495057;
}

footer {
    font-size: 5.9em;
    background-color: #212529;
}

footer a {
    text-decoration: none;
    color: inherit;
}

#nav_section {
    background-color: #f8f9fa;
}

section {
    padding: 50px 20px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    background-color: #f8f9fa;
    border-bottom: 1px solid #ccc;
}

#about {
    padding-top: 20px;
    min-height: 75vh;
}

#skills {
    padding: 50px 20px;
    display: block;
    text-align: left;
    width: 100%;
    background-color: #f8f9fa;
    border-bottom: 1px solid #ccc;
}

#skills h2, #skills h3 {
    padding-left: 20px;
}

#skills ul {
    list-style-type: none;
    padding: 0 20px;
}

#skills li {
    margin-bottom: 10px;
}

#skills p {
    margin-left: 40px;
}

#self {
    clip-path: circle();
    width: 35%;
    height: 35%;
}

i {
    padding: 0 50px;
    color: #f8f9fa;
}

i:hover {  
    opacity: 50%;
}

#ksu {
    padding: 20 0 50 0px;
    width: 20%;
    height: 20%;
}

#gtri {
    width: 20%;
    height: 20%;
    border-radius: 5%;
}

h2 {
    padding: 50px;
}

.projects-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

.project {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.project img {
    width: 100%;
    height: auto;
    max-height: 200px;
    object-fit: contain;
    margin-bottom: 10px;
}

.stars {
    font-size: 1rem;
}

.stars[data-stars="5"]:after {
    content: "★★★★★";
}

.stars[data-stars="4"]:after {
    content: "★★★★☆";
}

.stars[data-stars="3"]:after {
    content: "★★★☆☆";
}

.stars[data-stars="2"]:after {
    content: "★★☆☆☆";
}

.stars[data-stars="1"]:after {
    content: "★☆☆☆☆";
}

.stars[data-stars="0"]:after {
    content: "☆☆☆☆☆";
}